<%= form_with(model: reading, local: true) do |form| %>
  <% if reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
        <% reading.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
    <%= form.hidden_field :reading %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
