<p id="notice"><%= notice %></p>

<h1>Readings</h1>
<p>Use this space to capture questions and comments.</p>
<p>Remember to save discussion for when we are in person!</p>

<% @readings.each do |reading| %>
  <h2>This Week</h2>
  <p><%= reading.body %></p>
  <p>Date: <%= reading.date || 'None specified' %></p>
  <%= link_to 'Show', reading %>
  <%= link_to 'Edit', edit_reading_path(reading) %>

  <h3> Questions </h3>
  <% reading.questions.each do |question, index| %>
    <ul>
      <li><%= question.body %></li>
    </ul>

  <% end %>
  <h4>New Question:</h4>
  <%= render 'questions/form', reading: reading, question: Question.new %>

  <h3> Comments </h3>
  <% reading.comments.each do |comment, index| %>
    <ul>
      <li><%= comment.body %></li>
    </ul>

  <% end %>
  <h4>New Comment:</h4>
  <%= render 'comments/form', comment: Comment.new, reading: reading  %>
<% end %>

<br>

<%= link_to 'New Reading', new_reading_path %>
