<p id="notice"><%= notice %></p>

<h1>Readings</h1>
<p>Use this space to capture questions and comments.</p>
<p>Remember to save discussion for when we are in person!</p>

<% @readings.each_with_index do |reading, index| %>
  <div class="card">
    <div class="card-header">
      <div class="card-title h5">
        <% if index.zero? %>
          This Week
        <% elsif index == 1 %>
          Last Week
        <% end %>
      </div>
      <div class="card-subtitle text-gray"><%= reading.date || 'None specified' %></div>
      <div class="card-subtitle text-gray"><%= reading.location || 'None specified' %></div>
    </div>
    <div class="card-body">
      <%= reading.body %>
    </div>
    <div class="card-footer">
       <%= link_to 'Edit', edit_reading_path(reading), class: 'btn' %>
    </div>
  </div>

  <div class="divider"></div>

  <div class="panel">
    <div class="panel-header">
      <div class="panel-title"><strong>Questions</strong></div>
    </div>
    <% reading.questions.each do |question, index| %>
      <div class="panel-body"><p><%= question.body %></p></div>
    <% end %>
    <div class="panel-footer">
      <%= render 'questions/form', reading: reading, question: Question.new %>
    </div>
  </div>

  <div class="divider"></div>

  <div class="panel">
    <div class="panel-header">
      <div class="panel-title"><strong>Comments</strong></div>
    </div>
    <% reading.comments.each do |comment, index| %>
      <div class="panel-body"><p><%= comment.body %></p></div>
    <% end %>
    <div class="panel-footer">
      <%= render 'comments/form', comment: Comment.new, reading: reading  %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Reading', new_reading_path %>
