<p id="notice"><%= notice %></p>

<h2>Readings</h2>
<ul class="list-group">
  <% @readings.each_with_index do |reading, index| %>
    <li class="list-group-item">
      <%= link_to "#{reading.date} -- #{reading.location}", reading %>
      <%= new_badge(index) %>
      <%= today_badge(reading.date) %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Reading', new_reading_path, class: 'btn' %>
