<p id="notice"><%= notice %></p>

<h1>Readings</h1>
<p>Use this space to capture questions and comments.</p>
<p>Remember to save discussion for when we are in person!</p>

<% @readings.each_with_index do |reading, index| %>
  <% if index.zero? %>
    <h2>This Week</h2>
  <% elsif index == 1 %>
    <h2>Last Week</h2>
  <% end %>
  <p><%= reading.body %></p>
  <p>Date: <%= reading.date || 'None specified' %></p>
  <p>Location: <%= reading.location || 'None specified' %></p>
  <%= link_to 'Show', reading %>
  <%= link_to 'Edit', edit_reading_path(reading) %>

  <div class="divider"></div>

  <div class="panel">
    <div class="panel-header">
      <div class="panel-title"><strong>Questions</strong></div>
    </div>
    <% reading.questions.each do |question, index| %>
      <div class="panel-body"><p><%= question.body %></p></div>
    <% end %>
    <div class="panel-footer">
      <%= render 'questions/form', reading: reading, question: Question.new %>
    </div>
  </div>

  <div class="divider"></div>

  <div class="panel">
    <div class="panel-header">
      <div class="panel-title"><strong>Comments</strong></div>
    </div>
    <% reading.comments.each do |comment, index| %>
      <div class="panel-body"><p><%= comment.body %></p></div>
    <% end %>
    <div class="panel-footer">
      <%= render 'comments/form', comment: Comment.new, reading: reading  %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Reading', new_reading_path %>
