<p id="notice"><%= notice %></p>

<div class="text-center">
  <p>Use this space to capture questions and comments.</p>
  <p>Remember to save discussion for when we are in person!</p>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reading</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @reading.date %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= @reading.location %></h6>
    <p class="card-text"><%= @reading.body %></p>
    <%= link_to 'Edit', edit_reading_path(@reading), class: 'card-link' %>
    <%= link_to 'Add Section', new_section_path(reading_id: @reading.id, book_id: Book.first.id)%>
  </div>
  <% if @reading.sections.any? %>
    <div class="card-body">
      <h5 class="card-title">Sections</h5>
      <ul class="list-group list-group-flush">
        <% @reading.sections.each do |section| %>
          <li class="list-group-item"><%= link_to section.title, section_path(section) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">Reactions</h5>
    <ul class="list-group list-group-flush">
      <% @reading.reactions.each_with_index do |reaction, index| %>
        <li class="list-group-item"><%= reaction.body %></li>
      <% end %>
    </ul>
  </div>
  <%= render 'reactions/form', reading: @reading, reaction: Reaction.new %>
</div>
