<p id="notice"><%= notice %></p>

<div class="text-center">
  <p>Use this space to capture questions and comments.</p>
  <p>Remember to save discussion for when we are in person!</p>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reading</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @reading.date %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= @reading.location %></h6>
    <p class="card-text"><%= @reading.body %></p>
    <%= link_to 'Edit', edit_reading_path(@reading), class: 'card-link' %>
    <%= link_to 'Add Section', new_section_path(reading_id: @reading.id, book_id: Book.first.id)%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sections</h5>
    <ul class="list-group list-group-flush">
      <% @reading.sections.each do |section| %>
        <li class="list-group-item"><%= link_to section.title, section_path(section) %></li>
      <% end %>
    </ul>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add new section for
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @books.each do |book| %>
          <%= link_to book.name, new_section_path(book_id: book.id, reading_id: @reading.id), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">Reactions</h5>
    <ul class="list-group list-group-flush">
      <% @reading.reactions.each_with_index do |reaction, index| %>
        <% if reaction.verse.present? %>
          <li class="list-group-item">
            <blockquote class="blockquote mb-0">
              <p><%= reaction.verse.title %> <%= reaction.verse.text %></p>
              <footer class="blockquote-footer"><%= reaction.body %></footer>
            </blockquote>
          </li>
        <% else %>
         <li class="list-group-item"><%= reaction.body %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= render 'reactions/form', reading: @reading, reaction: Reaction.new, verse: nil %>
</div>
