<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @reading.body %>
</p>

<%= render 'questions/form', reading: @reading, question: Question.new %>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
