<%= form_with(model: reaction, local: true) do |form| %>
  <% if reaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reaction.errors.count, "error") %> prohibited this reaction from being saved:</h2>

      <ul>
        <% reaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if verse.present? %>
    <h3><%= "#{verse.chapter.book.name} #{verse.chapter.number}" %></h3>
    <p><%= verse.number %>. <%= verse.text %></p>
  <% end %>

  <div class="input-group mb-3">
    <%= form.hidden_field :section_id, value: section&.id %>
    <%= form.hidden_field :verse_id, value: verse&.id %>
    <%= form.hidden_field :reading_id, value: reading.id %>
    <%= form.text_area :body, class: 'form-control', placeholder: 'Type your reaction here' %>
    <div class="input-group-append">
      <%= form.button 'Add Reaction', class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>
