<%= form_with(model: reaction, local: true) do |form| %>
  <% if reaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reaction.errors.count, "error") %> prohibited this reaction from being saved:</h2>

      <ul>
        <% reaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, placeholder: 'Reaction body' %>
  </div>

  <div class="field">
    <%= form.hidden_field :reading_id, value: reading.id %>
  </div>

  <div class="field">
    <%= form.text_field :name, placeholder: 'Name (optional)' %>
  </div>

  <div class="actions">
    <%= form.submit 'Add Reaction' %>
  </div>
<% end %>
